@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2B2C3A;
  font-family: Noto Sans;
}

button {
  background-color: #F8D271;
  color: #2B2C3A;
  text-decoration: none;
  font-size: 16px;
  font-family: "Noto Sans";
  border: 0px;
  border-radius: 54px;
  width: 156px;
  height: 46px;
}