@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #2B2C3A;
}

.intro {
  background-color: #3B3E4E;
  height: 100vh;
  div {
    text-align: center;
    h1 {
      color: white;
      font-size: 72px;
    }
    p {
      color: white;
      font-size: 16px;
    }
  }

  button {
    background-color: #F8D271;
    color: #2B2C3A;
    text-decoration: none;
    font-size: 16px;
    font-family: "Noto Sans";
    border: 0px;
    border-radius: 54px;
    width: 156px;
    height: 46px;
  }
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .layer {
    position: absolute;
  }
  .shape1 {
    left: 15% !important;
    top: 10% !important;
  }
  .shape2 {
    left: 35% !important;
    top: 10% !important;
  }
}

.tech-icon {
  width: 50px !important;
  margin-top: 25px;
  margin-bottom: 25px;
}

.about-me {
  max-width: 800px;
  div {
    width: 75%;
    color: white;
    h1 {
      margin-bottom: 10px;
    }
  }
}

.technologies {
  max-width: 800px;
  div {
    width: 75%;
    color: white;
    margin-left: 0;
  }
}

// @media(max-width: 600px) {
//   .avatar {
//     display: none !important;
//   }
// }
