.end {
  height: 30vh;
  width: 100vw;
  text-align: center;
  color: white;
  .container {
    width: 225px;
    animation-duration: 4s; /* don't forget to set a duration! */
  }
  p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
  }
}
